
    
        <div class="col-4">
        </div>
        <div class="col-4">
        <% if false %>
        <%= form_with(model: @blog) do |f| %>
            <%= f.label :title %>
            <br />
            <%= f.text_field :title %>
            <br />
            <%= f.label :content %>
            <br />
            <%= f.rich_text_area :content %>
            <br />
            <%= f.submit %>
        <% end %>
        <% end %>
            <%= form_for(@blog) do |f| %>
                <%= f.rich_text_area :content %>
                <%= f.submit %>
                <% end %>

        </div>
        <div class="col-4">
        </div>
    

           


    